@model IEnumerable<projectZ.Models.Products>
@{
    Layout = "_Layout1";
}
@{
    <div class="container">
        <div class="row justify-content-center product-grid-style">
            @{
                foreach (var item in Model)
                {
                    <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                        <div class="product-details">
                            <div class="product-img">
                                <div class="label-offer bg-red">Sale</div><img src="~/@item.imagepath" alt="...">
                                <div class="product-cart">
                                    <a href="#!"><i class="fa-solid fa fa-eye"></i></a>
                                    <a href="#!"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#!"><i class="fas fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <a href="#!">@item.Name</a>
                                <p class="price text-center m-0">
                                    <span id="@item.Id"></span>
                                    <br />
                                    <span class="red line-through me-2">@item.price</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <script>
     function Pe2Co(){
	const balance = Number(@item.price);
	const percent = Number(@item.Percent);
	let prs = ( percent * balance ) / 100;
    let res= balance-prs;
	document.getElementById('@item.Id').innerHTML = res + '$';
}
Pe2Co();
    </script>
                }
            }
</div>
</div>

    <br />
    <a class="btn btn-light" href="@Url.Action("PForm", "AA", new {Area = "Admin"})">ثبت کالای جدید</a>
}
